/* PHASE 5: Cats */

.content-header {
  height: 250px;
  width: 100%;
  background-image: url('../images/cats.jpg');
  background-size: cover;
  position: relative;

}

.content-header__text {
  font-size: 36px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 20px;
  left: 25%;

}

.content-header__button {
  background-color: white;
  color: black;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.content-header__button:hover {
  background-color: lightgray;
}